<form (ngSubmit)="onSignIn(form)" #form="ngForm">
  <div class="form-group">
      <div class="row">
          <div class="col-xs-6">
            <h2>Welcome to Recipe Book!</h2>
          </div>
      </div>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <label for="email">Email</label>
        <input type="text" class="form-control" ngModel email required name="email" #email="ngModel">
        <span class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid email address!</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" ngModel required name="password" #password="ngModel">
        <span class="help-block" *ngIf="password.invalid && password.touched">Password is required!</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6">
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-6">
          <h5>If you have no account yet, please register first!</h5>
          <button class="btn btn-primary" (click)="onRegister()">Register</button>
        </div>
    </div>
  </div>
</form>